{% extends 'collection/base.html' %}
{% load static %}

{% block title %}Home - Trussy Bridal & Deco{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block content %}

<section class="hero" style="background-image: url('{% static 'images/full-bg-gown.jpg' %}');">
  <h2>Discover Timeless Elegance With Trassy</h2>
</section>

<div class="search-bar">
  <form method="get" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Search gowns, dresses, Maids Dresses or videos..." required>
    <button type="submit">Search</button>
  </form>
</div>

<div style="text-align:center; margin:30px 0;">
  <p>Bridal gowns and party dresses for every unforgettable occasion.</p>
  <a href="{% url 'gowns' %}" class="btn">Shop Now</a>
</div>

{% endblock %}
